@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}
.side-nav{
    margin-left: 11px;
    margin-top: 9px;
    height: 900px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background-color: #0097E0;
    display: grid;
    align-items: start;
    gap: 15px;
    transition: .5s;
    border-radius: 10px;
}
.side-menu{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.2);
}
.menu{
    display: grid;
    align-items: center;
    width: 60px;
    height: 100px;
    transition: .5s;
    border-radius: 8px;
    overflow: hidden;
}

.side-nav:hover {
    > div {
        width: 160px;
    }

    ul:not(.logoutBtn) li {
        > div {
            display: flex;
            align-items: center;
            color: #fff;
            overflow: hidden;
            > span {
                margin-left: 1.2rem;
                opacity: 1;
            }
        }
    }

    .logoutBtn {
        li {
            width: 100%;
            justify-items: start;
            > span {
                opacity: 1;
                color: #fff;
                width: 100px;
                margin-left: 1.2rem;
            }
        }
    }
}

.menu {
    > div {
        display: flex;
        align-items: center;
        gap: 1.3rem;
        color: #fff;
        justify-content: start !important;
    }
    span {
        opacity: 0;
        transition: .25s;
    }
}

.side-nav:hover .menu {
    span {
        opacity: 1;
    }
}

ul{
    list-style: none;
    padding: 0 15px;
}
ul li{
    cursor: pointer;
    margin-bottom: 100px;
}
ul li img{
    width: 30px;
    margin-left: 0px;
    filter: brightness(2.5);
}
ul li p {
    white-space: nowrap;
    display: none;
}

ul li {
    > div {
        display: flex;
        align-items: center;
        color: #fff;
        overflow: hidden;
        > span {
            margin-left: 0;
            width: 0;
            opacity: 0;
            transition: .25s;
        }
    }
}

.logoutBtn {
    display: flex;
    align-items: end;
    align-self: end;
    list-style: none;
    > li {
        transition: .25s;
        background-color: #F00;
        border-radius: 5px;
        margin: unset;
        height: fit-content;
        display: flex;
        justify-items: start;
        align-content: center;
        padding: .25rem;
        width: 100%;
        > img {
            transform: scale(.8);
        }
        > span {
            overflow: hidden;
            opacity: 0;
            width: 0;
            transition: .25s;
        }
    }
}

.nav-1{
    background-color: #0097E0;
    margin-top: 11px;
    margin-left: 105px;
    width: 91.50rem;
    height: 50px;
    border-radius: 8px;
}
.nav-1 p{
    color: aliceblue;
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 20px;
}

.box{
   margin-top: 20px;
   margin-left: 135px;
   display: flex;
}
.box-sale{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}
.box-sale span{
  border: 10px solid #00C000;
  border-radius: 100px;
  padding: 15px;
  font-size: 29px;
}
.box-sale p {
    padding: .5rem;
    font-size: 25px;
    margin-right: 115px;
}

.box-member{ 
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}
.box-member span{
    border: 10px solid #F00;
    border-radius: 100px;
    padding: 15px;
    font-size: 29px;

  }
.box-member p{
    padding: .5rem;
    font-size: 25px;
    margin-right: 115px;
    
}
.box-popular-food{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}
.shape{
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.box-popular-food p{
    padding: .5rem;
    font-size: 25px;
    margin-right: 115px;
    
}
.box2{
  
    display: flex;
    
}
.nav-2{
    background-color: #0097E0;
    margin-top: 30px;
    margin-left: 140px;
    width:26rem;
    height: 50px;
    border-radius: 8px;
}
.nav-2 p{
    color: aliceblue;
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 20px;
}
.nav-3{
    background-color: #0097E0;
    margin-top: 30px;
    margin-left: 20px;
    width:62.5rem;
    height: 50px;
    border-radius: 8px;
}
.nav-3 p{
    color: aliceblue;
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 20px;
}


.box3{
 display: flex;
}
.contenner-1{
    margin-top: 30px;
    margin-left: 140px;
    width: 465px;
    height: 465px;
    border-radius: 2%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}
.contenner-2{
    margin-top: 30px;
    margin-left: 23px;
    width: 530px;
    height: 465px;
    border-radius: 2%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}
.contenner-3{
    margin-top: 30px;
    margin-left: 13px;
    width: 580px;
    height: 465px;
    border-radius: 2%;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .50);
}

table.table{
    width: 100%;
    display: grid;
    border-collapse: collapse;
    grid-template-areas: 'thead' 'thead' 'thead'
                        'tbody' 'tbody' 'tbody'
                        'tbody' 'tbody' 'tbody';
    padding: 1rem;
    thead {
        grid-area: 'thead';
        border-bottom: 1px solid;
        > tr {
            display: flex;
            justify-content: space-between;
            > th {
                font-weight: 400;
                font-size: .7em;
            }
        }
    }
    tbody {
        margin-top: .3rem;
        grid-area: 'tbody';
        > tr {
            border-bottom: 1px solid #00000033;
            display: flex;
            justify-content: space-between;
                > td {
                    font-weight: 400;
                    font-size: .5em;
                }
            &:nth-child(even) {
                background-color: #00000022;
            }
        }
    }
}